{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="oneThings pageOrder">
        <h1>Order #{{ order.id }}</h1>

        <div class="rowContent">
            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="padding: 20px">Id</th>
                        <td>{{ order.id }}</td>
                    </tr>

                    <tr>
                        <th style="padding: 20px">Author</th>
                        <td>{{ order.owner.email }} - {{ order.owner.id }}</td>
                    </tr>
                    <tr>
                        <th style="padding: 20px">Total</th>
                        <td>{{ countService.countTotalPrice(order.productsItems) }}€</td>
                    </tr>

                    <tr>
                        <th style="padding: 20px">Articles</th>
                        <td>{{ countService.countArticleNumber(order.productsItems) }}€</td>

                    </tr>


                    </tbody>
                </table>
            </div>


            <div>
                {% for item in order.productsItems %}
                    <div class="product">
                        <span>#{{ item.product.id }} - {{ item.product.name }}</span>
                        <div>
                            {% if item.product.image is not null %}
                                <img src="{{ vich_uploader_asset(item.product.image, 'imageFile') }}"
                                     alt="{{ item.product.name }}">

                            {% endif %}

                            {% if item.product.qrCodeImage is not null %}

                                <img src="{{ vich_uploader_asset(item.product.QrCodeImage, 'imageFile') }}"
                                     alt="{{ item.product.name }}">

                            {% endif %}
                        </div>

                    </div>

                {% endfor %}   {% for item in order.productsItems %}
                    <div class="product">
                        <span>#{{ item.product.id }} - {{ item.product.name }}</span>
                        <div>
                            {% if item.product.image is not null %}
                                <img src="{{ vich_uploader_asset(item.product.image, 'imageFile') }}"
                                     alt="{{ item.product.name }}">

                            {% endif %}

                            {% if item.product.qrCodeImage is not null %}

                                <img src="{{ vich_uploader_asset(item.product.QrCodeImage, 'imageFile') }}"
                                     alt="{{ item.product.name }}">

                            {% endif %}
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}
